html{
  scroll-behavior: smooth;
}
body{
  box-sizing: border-box;
  margin:0 auto;
  height:100vh;
  width:auto;
}
.icon{
  height:2rem;
  width:3rem;
  margin: 0 0.2rem;
}
ul{
  margin:0;
  padding:0;
  list-style-type: none;
}
a{
  text-decoration:none;
}
#first{
  background:#fff;
  border:1px solid black;
}
#second{
  background:#000;
  border:1px solid black;
}
#third{
  background:#0f0;
  border:1px solid black;
}
#fourth{
  background:#f00;
  border:1px solid black;
}
.logo{
  display:flex;
  align-items:center;
  justify-content: center;
  margin:0.2rem;
}
#title{
  margin:0;
  text-align:center;
  color:red;
}
nav ul{
  display:flex;
  justify-content: center;
  align-items:center;
}

nav li{
  margin:0 0.2rem;
  position:relative;
}
nav li a{
  padding:0.2rem;
  background:cyan;
  border-radius:0.1rem;
}
h1,h2,h3,h4,h5,h6{
  margin:0;
  padding:0;
  text-align:center;
  color:blue;
}
#second-menu{
  position:absolute;
  display:grid;
  margin-top:0.2rem;
  margin-left:0.1rem;
  display:none;
  z-index:3;
}
nav li:hover #second-menu{
  display:block;
}
#second-menu li{
  font-size:0.8rem;
  margin: 0.2rem;
}
header{
  height:20vh;
  width:auto;
}
.section-a{
  height:70vh;
  width:auto;
  position:relative;
}
#introduction{
  position:absolute;;
text-align:center;
 top:5%;
  left:50%;
  transform:translateX(-50%);
font-size:1.6rem;
font-weight:bold;
}
button{
  position:absolute;
  top:70%;
  left:50%;
  transform:translateX(-50%);
  font-size:1.3rem;
  background:limegreen;
  cursor:pointer;
}
.section-a .background-image{ 
  background:url(/levkinlive/PICTURES/showcse.jpg);
  height:100%;
  width:auto;
  background-size:cover;
  background-position:center;
  opacity:0.4;

}
.social-media a{
  background:cyan;
  padding:0.2rem;
  border-radius: 0.2rem;
}
#space{
  position:absolute;
  margin-top:0.1rem;
  margin-left:0.1rem;
  padding:0.2rem;
}
.fa, .fab{
  margin-right:0.1rem;
}
.copyright{
  font-weight:bold;
  background:lightskyblue;
  padding:0.2rem;
  height:0.3rem;
  width:100vh;
  margin:0;
}
#social-media{
  height:0.7rem;
  width:auto;
}
footer{
  height:10vh;
  width:100vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}