:root{
  --PrimaryColor:#010203;
  --secondaryColor:#ADD8E6;
  --tertiaryColor:#21749c;
  --tertiary2Color:#EE4B2B;
  --titleColor:#f00;
  --strongColor:#00f;
}




*{
  margin:0;
  padding:0;
  font-size:1rem;
}
ul{
  padding:0;
  margin:0;
}
li{
  list-style-type: none;
}
body{
  box-sizing:border-box;
  overflow: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height:100vh;
  width:auto;
  background:var(--secondaryColor);
  margin: 0.5rem 2rem;
  line-height:1.4;
}
h1,h2,h3,h4,h5,h6{
  font-family:'Times New Roman', Times, serif;
}
.icon{
  height:2rem;
  width:3rem;
  margin:0.2rem;
  border:1px solid black;

}
#first{
  background:#fff;
}
#second{
  background:#000;
}
#third{
  background:#00f;
}
#fourth{
  background:#0f0;
}
#fiffth{
  background:#f00;
}
.logo, .identity{
  display:flex;
}
#title{
  font-size:2rem;
  margin:0;
  padding: 0 0.4rem;
  color:var(--strongColor);
}
span{
  font-size:2rem;
  color:var(--titleColor);
  font-family:monospace;
}
#top{
  display:flex;
  justify-content: space-between;
}
nav ul{
  display:flex;
}
nav ul li{
  margin:0.5rem;
  position:relative;
}
#services{
  position:relative;
}
header{
  height:10%;
  width:auto;
  padding:1.5rem;
  top:0;
  position:sticky;
  background:#fff; 
  z-index: 1;
}
nav li > a{
  text-decoration:none;
  padding:1rem;
  border-radius:0.3rem;
  color:#f00;
  font-weight:bold;
  background:var(--tertiaryColor); 
  z-index:1;
}
#second-menu{
  position:absolute;
  display:none;
  margin-left:0.5rem;
  padding:0;
  border-radius:0 0 0.3rem 0.3rem;
  z-index:3;
}
#second-menu li{
  margin-top:0.7rem;
  z-index:5;
}
#bereavement{
  margin:5rem 0 2rem 0;
}

nav li:hover #second-menu{
  display:block;
  z-index:2;
  margin-top:0.6rem;
}
#second-menu .sides{
background:#000;
color:#fff;
margin:0;
text-decoration:none;
padding:0.3rem;
z-index:7;
} 
#second-menu li > a:hover{
  text-decoration:underline;
}
#section-a{
  height:85%;
  width:100%;

}
.background-image{
  background:url("/PICTURES/showcse.jpg");
  background-position:center;
  background-size:cover;
  height:100%;
  opacity:0.4;
}
#introduction{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:2rem;
  font-weight:bold;
  text-align:center;
  margin-top:-5rem; 
}
button{
  position:absolute;
  top:50%;
  left:50%;
  margin:2rem 0;
  padding:1.2rem;
  transform:translateX(-50%);
}
button:hover{
  background:darkgray;
  color:#fff;
}
footer{
  height:10%;
  width:auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:white;
}
.copyright,.social-media{
  margin: 0 2rem;
  font-size:1.5rem;
  font-weight:bold;

}
.social-media > a{
  text-decoration:none;
  background:var(--PrimaryColor);
  padding:0.6rem;
  color:var(--strongColor);
  border-radius:0.3rem;
  margin:0;
}
.social-media > a:hover{
  color:#fff;
  text-decoration: underline;
}
#photo{
  height:30rem;
  width:auto;
  margin:0 auto;
  border-radius:1rem;
}
#founder{
  display:flex;
}
#me{
  display:grid;
  grid-gap:1rem;
}
#name{
  display:inline-block;
}
#you{
  margin: 3rem 2rem 0;
}
.photos{
  height:20rem;
  margin-top:2rem;
  width:auto;
  border-radius:2rem;
}
#website,#seo, #facebook{
  display:flex;
}
#website > p,#seo > p, #facebook > p{
  margin-left:3rem;
  margin-top:2rem;
}
.longs{
  margin-left:20rem;
  margin-top:2rem;
  font-size:2rem;
  color:#f00;
}
.top {
  color:#00f;
  font-size:2rem;
}
.reach{
  font-size:5rem;
  color:#f00;
  padding:3rem;
}
.numbers{
  font-size:2rem;
  margin-left:1rem;
}
.current{
  background:#010203;
  color:white;
  text-decoration: underline;
}
nav li > a:hover{
  background:#fff;
  color:#000;
}
#cost > li{
  list-style-type:upper-roman;
  margin-left:10rem;
}
.para > li,#content ,#about {
  list-style-type:decimal;
  margin:0 3rem;
  font-size:1.5rem;
}
#know, #kamau{
  font-size:1.5rem;
}
#content, .ku{
  line-height:2.4rem;
  font-size:1.5rem;
}
.kibichoi{
  margin:0 3rem;
  font-size:1.3rem;
}
.kibichoi > a, .shorts > a{
  font-size:1.3rem;
}
.fa{
  color:#f00;
  margin-right:0.2rem;
}
.first{
  font-size:2rem;
  line-height:2.3rem;
  color:#00f;
  text-align:center;
}
.name{
  margin-top:3rem;
}
.bottom{
  margin-bottom:1.5rem;
}
.mwangi{
  margin:1rem 0 0.5rem 0;
}
.shorts{
  font-size:1.5rem;
}
.mwangi a{
  font-size:1rem;
  text-decoration: none;
  background:black;
  color:white;
  padding:0.6rem;
  margin:0.3rem;
  border-radius:3rem;
 
}
#kamau2{
  height:30rem;
  width:30rem;
  margin:0.8rem;
  border-radius:3rem;
}
.mwangi a:hover{
  background:var(--tertiaryColor);
  color:#f00;
}
.small{
  height:20rem;
  width:20rem;
  background:red;
  float:left;
  margin:0.6rem;
}
#lady{
  margin-top:5rem;
}
legend{
  margin-left:2rem;
  padding:0.2rem;
}
fieldset{
  padding:0.7rem;
}
#contact{
  display:flex;
  justify-content:space-evenly;
}
.more{
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
}
.fab{
  margin-right:0.5rem;
  color:white;
}
#last{
  margin-bottom:0.5rem;
}
.pricing_b{
  display:none;
}
#footer{
  height:100vh;
  
      }
@media(max-width:1110px){
  body{
    margin:0 auto; 
    box-sizing: border-box;
  }
  nav ul{
flex-wrap:wrap;
  }
  nav ul li{
    margin:0.1rem;
    padding:0.4rem;
  }
  nav li a{
    padding:0.4rem;
    font-size:1rem;
  }
  header{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
  }
  .icon{
    height:2rem;
    width:3rem;
    margin-top:0.5rem;
    border:1px solid black;
  
  }
  #title{
    font-size:2rem;
    margin:0;
    padding: 0 0.2rem;
  }
  span{
    font-size:2rem;
  }
  nav ul li{
    margin:0;
    position:relative;
  }
  nav ul li a, .fa{
    padding:2rem;
  }
  
  #introduction{
    font-size:1.2rem;
    margin-top:0.2rem;
  }
  button{
    display:inline-block;
    top:50%;
    left:50%;
    margin-top:5rem;
    padding:1rem;
  }
  .background-image{
    height:100%;
    width:auto;
    opacity:0.4;
    background: url ("./PICTURES/showcse.jpg");
    background-position:center;
    background-size:cover;
  }
  .copyright,.social-media{
    margin: 0;
    font-size:1rem;
    font-weight:bold;
    margin:0 1rem;
  
  }
  .social-media a{
    padding:0.5;
    font-size:1rem;
  }
    #second-menu .sides{
      background:#000;
      color:#fff;
      font-size:1rem;
      text-decoration:none;
      padding:0.5rem;
      z-index:7;
      }
      #second-menu li{
        margin-top:0.1rem;
        z-index:5;
       
      } 
      .first{
        font-size:1.7rem;
        line-height:1.2rem;
        text-align:center;
        margin-left:2.5rem;
        margin-top:1rem;
        padding-bottom:1rem;
      }
      #content, .shorts{
        font-size:1.4rem;
        line-height:1.6rem;
        margin:0 2rem;
      }
      .ku{
        font-size:1.2rem;
        line-height:1.6;
        margin-left:1rem;
        font-weight: bold;
        padding:0.2rem 0;
      }
      .inner{
        font-size:1.4rem;
        line-height:1.6rem;
      }
      #founder{
        flex-direction:column;
      }
      #photo{
        height:25rem;
        width:auto;
        margin:0 auto;
      }
      #kamau{
        font-size:1.4rem;
        margin:0 auto;
        text-align:center;
      }
      .mwangi{
        display:flex;
        flex-wrap:wrap;
      }
      .mwangi a{
        font-size:0.8rem;
      }
      .top{
        margin-left:1rem;
        font-size:1.5rem;
      }
      #bereavement{
        margin:3rem 0 2rem 0;
      }
      .pricing{
        display:none;
      }
      #website, #seo, #facebook{
        flex-direction:column;
      }
      .photos{
        height:25rem;
        width:auto;
        margin:0 auto;
      }
      .pricing_b{
        display:block;
      }
      #contact{
        font-size:1.5rem;
        margin:0 0.2rem;
      }
      #footer{
        height:100vh;
        
            }
      #kamau2{
        height:20rem;
        width:20rem;
        margin:2rem 0 1rem;
      }
      .reach{
        font-size:1.6rem;
        padding:1rem;
        margin-top: 2.5rem;
      }
      #footer{
        height:100vh;
        width:100vw;

    }
}
@media(max-width:800px){
  .identity{
    flex-direction:column;
    margin:0 auto;
  }
  #top{
    margin:0 auto;
  }
  #title{
    font-size:1.3rem;
    margin-left:4rem;
  }
  span{
    font-size:1.3rem;
  }
  .icon{
    margin:0 0.1rem;
    height:1.5rem;
    width:2.5rem;
  }
  .first{
    font-size:1.5rem;
  }
  #top{
    margin:0;
  }
  .identity{
    margin:0;
  }
  nav ul li{
    margin:0;
    padding:0.2rem;
  }
  nav li > a{
    padding:0.2rem;
    border-radius:0.2rem;
    font-size:0.7rem; 
    z-index:1;
  }
  #second-menu .sides{
    font-size:0.8rem;
    padding:0.3rem;
    z-index:7;
    }
    .social-media a{
      padding:0.5rem;
      flex-wrap:wrap;
      font-size:0.5rem;
      color:white;
    }
    .about{
      font-size:1rem;
    }
    .mwangi a{
      font-size:0.7rem;
      padding:0.2rem;
    }
    .mwangi > .fab{
      font-size:0.7rem;
      padding:0.2rem;
    }
    #kamau{
      margin:0 auto;
    }
     .shorts, .para>li{
      font-size:1rem;
    }
    .small{
      float:right;
      clear:left;
      height:10rem;
      width:auto;
    }
    .kibichoi{
      font-size:1.2rem;
    }
    .longs{
      font-size:1.5rem;
      text-align:center;
      margin-left:0;
    }
    .photos{
      height:15rem;
      width:auto;
    }
    .req{
      height:10rem;
      width:9rem;
    }
    #kamau2{
      height:18rem;
      width:18rem;
      margin:0 auto;
    }
    #contact{
      display:flex;
      flex-direction:column;
    }
    .reach{
      font-size:0.8rem;
      margin-top:0.3rem;
    }
    #footer{
        height:100vh;
        width:100vw;

    }
    .copyright,.social-media{
      font-size:0.5rem;
    }
    .namba{
      text-align:center;
      margin-top:0.2rem;
    }
    nav ul > .fa{
      padding:0.2rrem;
    }
}

