*{
  padding:0;
  margin:0;
}
ul,li{
  padding:0;
  margin:0;
}
body{
  box-sizing: border-box;
  background:rgba(200, 200,200, 0.2);
  height:100%;
  width:100%;
  font-family:Helvetica, sans-serif;
  position:relative;
}
/* Home page */
header{
  box-sizing:border-box;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  height:15vh;
  width:100%;
  position:sticky;
  top:0;
  box-sizing: border-box;
  background: rgba(0,0,0,0.7);
}
#identity img{
  height:15rem;
  width:auto;
}

.navbar ul{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
}
.navbar li{
  list-style-type:none ;
  margin:0 1rem;
  position:relative;
}
.navbar li a,.social-media a{
  text-decoration: none;
  background:#fff;
  padding:0.8rem;
  border-radius:0.3rem;
  color:red;
   box-shadow: 0 0 15px #f00;

}
.navbar li a:hover{
  background:red;
  color:white;
}
.social-media a:hover{
  background:red;
  color:white;
}
.fa, .fab{
  padding:0 0.1rem;
}
#second-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:absolute;
  margin-top:1.3rem;
  margin-left:1.4rem;
  display:none;
  flex-wrap:wrap; 
}
#second-menu li{
  margin:0.4rem 0;
 
}
#space{
  margin-left:0.1rem;
}
.navbar li:hover #second-menu{
  display:grid;
  z-index:10;
}
#intro{
  height:70vh; 
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;

}
#introduction{
  display:flex;
  flex-direction: column;
  margin-top:40%;
  justify-content: center;
}
#introduction p{
  text-align:center;
  font-size:3rem;
}
#levkin{
  text-align:center;
  margin:0.5rem;
}
#levkin a{
  text-decoration:none;
  font-size:1.2rem;
  background:rgba(255,0,0,0.7);
  padding:0.5rem;
  border-radius:0.2rem;
  box-shadow: 0 0 15px #f00;
}
#levkin a:hover{
  background:white;
  color:red;
}
#showcase{
  background:url(/levkinlive/PICTURES/showcase-main.jpg) no-repeat center center/cover;
  position:absolute;
  height:100%;
  width:100%;
  z-index:-3;
  opacity:0.7;
}
footer{
  box-sizing:border-box;
  height:15vh;
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background: rgba(0,0,0,0.7);
  flex-wrap:wrap;
  overflow:hidden;
  padding-top:1rem;
}
.copyright{
  margin-top: 1rem;
  font-size:1.5rem;
  color:#fff;
}
/* About page */
.first{
  font-size:2rem;
  color:#00f;
  text-align:center;
  padding:0.5rem 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
 .wrapper{
        display:grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: auto;
    } 
    #more{
      grid-column:3/-1;
        margin-top: 4rem;
        margin-right:2rem;
        height:8rem;
        line-height:1.2;
        font-size:1rem;
        padding:0.5rem;
        background:rgba(0,0, 100, 0.3);
        border-left:2px solid #00f;
    }
    #about{
      grid-column:2/3;
      line-height:1.5;
      font-size:1.5rem;
    }
    #me{
      display:flex;
      align-items:center;
      margin:0 6rem;
    }
    #photo{
      height:30rem;
      padding:1rem;
      background:#f00;
      border-radius:0.5rem;
    }
    #kamau{
      text-align:center;
      font-size:1.5rem;
      margin:0 1rem;
    }
    #kamau span{
      color:#f00;
      font-weight:bold;
    }
    #home p, .val{
      margin:0 2rem;
      font-size:1.5rem;
    }
    .val{
      color:#00f;
    }
    #you{
      margin:0 6rem;
      padding-bottom:1rem;
      font-size:1.3rem;
    }
    legend{
      margin-left:1rem;
    }
    fieldset{
      padding:1rem;
    }
    .connect{
      text-align:center;
    }
    .mwangi{
      display:flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    .mwangi a{
      margin:0.5rem;
      background:rgba(0,0,70, 0.3);
      padding:0.5rem;
      text-decoration: none;
      border-radius:0.4rem;
    }
    .blog{
      margin:0.5rem;
      font-size:1rem;
      text-decoration: none;
      background:rgba(0,0,70, 0.3);
      padding:0.3rem;
      border-radius:0.2rem;
    }

    /* How we came about */
    #who{
      min-height:75vh;
      width:100%;
    }
    .who-we-are{
      margin:0 6rem;
    }
    #how{
      font-size:1.5rem;
      line-height: 1.5;
    }

    /* SHORTS PAGE */
.fupi{
        display:grid;
        grid-template-columns: 0.5fr 2fr 0.5fr;
        grid-template-rows: auto;
        line-height:1.5;
        font-size:1.5rem;
    }
    #shorts{
      grid-column:2/3;
    }
    .one, .mwisho,.vote{
      height:20rem;
      width:auto;
      text-align: center;
      border-radius:1rem;
    } 
    .weddo, .kuandika{
      height:30rem;
      width:auto;
      border-radius:1rem;
    }
    #container-c, #container-d, #container-e,#container-f, #image-container-b{
      text-align:center;
      margin:0.5rem 0;
    }
    #sample{
      display: flex;
      margin:1rem;
      justify-content: center;
    }

    /* LONGS PROJECTS PAGE */
    .refu{
        display:grid;
        grid-template-columns: 0.5fr 2fr 0.5fr;
        grid-template-rows: auto;
        line-height:1.5;
        font-size:1.5rem;
    }
    #longs{
      grid-column:2/3;
    }
    .last{
      height:25rem;
      width:auto;
      border-radius:1rem;
    }
    .container-long{
      text-align:center;
      }

      /* TERMS AND CONDITIONS PAGE */
      .terms{
        margin:0 6rem;
        line-height:1.5;
        font-size:1.5rem;
      }
      .para li{
        list-style-type: numeric;
      }
      #cost{
        margin-left:3rem;
        padding:0.5rem;
      }
      #cost li{
        list-style-type: upper-roman;
        color:#00f;
      }
      /* CONTACTS PAGE */
      #contact{
        height:70vh;
        width:100%;
        text-align: center;
        line-height:1.5;
        font-size:2rem;
      }