.wrapper{
    margin:0 1.5rem;
}
#content, #ajira, #coursera, #kenya{
    font-family:Arial, Helvetica, sans-serif;
}
#content , #how{
    font-size:1.2rem;
    line-height: 1.8;
}
#photo{
    height:25rem;
    width:auto;
    border-radius:1.5rem;
}
#kamau{
    text-align:center;
    line-height:2;
    font-size:1.1rem;
    margin:0 0.3rem;
}

legend{
    margin-left:1.5rem;
    font-size:1rem;
}
.certs{
    margin-left:0.5rem;
}
#last{
    margin-bottom:0.3rem;
}
#kamau span{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:red;
    font-weight:bold;
}
.first{
    font-size:1.2rem;
    text-decoration:underline;
    margin:0;
    text-align: center;
    padding: 0.5rem;
    color:#00f;
}
#kenya, #ajira, #coursera, #last{
    margin:0.6rem;
}
.small{
    height:15rem;
    width:100%;
    margin:0 auto;  
}
h5{
    font-size:1.5rem;
    text-align: center;
}
.medium{
    height:20rem;
    width:auto;
}
.big{
    height:20rem;
    width:20rem;
}
.top{
    font-size:1.4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#longs, #terms, #shorts{
    min-height:70vh;
    width:100%;
}
.shorts{
    list-style-type: disc;
    line-height:1.8rem;
    font-family:Arial, Helvetica, sans-serif;
    margin:0 1rem;
}
.para {
    list-style-type: numbers;
    margin-left:2rem;
    margin-right:1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#cost{
    list-style-type: upper-roman;
    margin:0 1.8rem;
    color:#00f;
}
.link{
    text-decoration:underline;
}
.longs{
    font-size:1.8rem;
    font-weight:bold;
    text-decoration:underline;
    margin:1rem;
}
.last{
    height:20rem;
    width:20rem;
}
 .open, .dev, .facebook, .seo{
    line-height:1.8;
    margin:0 1rem;
}
#contact{
    height:75vh;
    width:100%;
    position:relative;
}
#barua{
    display: none;
    font-size:0.2rem;
}
#numbers{
    margin-top:0.5rem;
    padding:0.5rem;
    display:grid;
    grid-gap:1rem;
}
#numbers >p{
    margin:0 auto;
    font-weight:bold;
    font-size:1.8rem;
}
 #contact > p{
     text-align:center;
     font-weight:bold;
     color:#00f;
     text-decoration:underline;
     font-size:1.5rem;
 }
 .mwangi{
     text-align: center;
     display:flex;
     justify-content: space-evenly;
     align-items:center;
     flex-wrap: wrap;
 }
  .mwangi a{
     background:lightgray;
     padding:0.3rem;
     border-radius:0.3rem;
     cursor: pointer;
     margin-bottom: 0.8rem;
     font-size:0.8rem;
     border: none;
     outline: none;
 }
 .blog{
     background:lightgray;
     padding:0.2rem;
     border-radius:0.3rem;
     cursor: pointer;
     margin-bottom:1rem;
     font-size:0.7rem;
     border: none;
     outline: none;
 } 
 .blog:hover{
     background:white;
     color:black;
     box-shadow: rgba(0, 0, 0, 0.6) ;
     text-decoration: underline;
 }
 .mwangi a:hover{
     background:lightgoldenrodyellow;
     color:red;
     box-shadow: rgba(0, 0, 0, 0.6);
 }
 .current{
     background:black; 
     color:white;
 }
 #connect{
    text-align: center;
}
#more{
    border-left: 0.5rem solid rgba(0, 0, 150, 0.6);
    padding:0.2rem;
    background:rgba(0, 0, 50, 0.4);
}
.connect{
    margin: 0 2rem;
    text-align: center;
}
fieldset, .fa{
    font-size:1rem;
}
#image-container-a, #image-container-b, #container-c, #container-d, #container-e, #container-f, #container-g, #container-h, #container-i{
    text-align: center;
}
@media(min-width:768px)
{
    #founder{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #photo{
        height: 20rem;
        width:auto;
        margin:0 2rem;
        float:left;
    }
    .shorts{
        margin:0 1rem;
    }
    #kamau{
        font-size:1.2rem;
        margin:1rem 0;
    }
    #home{
        margin:1rem 0;
        padding-left:3rem;
        font-size:1.2rem;
        font-weight: bold;
    }
    #fam{
        margin-left:15rem;
    }
    .medium{
        height:20rem;
        width:auto;
        float:left;
        margin: 0 1rem;
    }
    .big{
        height:16rem;
        width:auto;
        margin: 0 1rem;
        float:left;
    }
    .middle{
        height:16rem;
        margin: 0 1rem;
    }
    #numbers{
        grid-gap:1.4rem;
    }
    .mwisho{
        height:20rem;
    }
    #me{
        border:1px solid #00f;
        padding: 1rem;
        border-radius: 1rem;
    }
    .para{
        margin: 0 2rem;
        color:blue;
    }
    .last{
        height:15rem;
        width:auto;
        margin:0 1rem;
        float:left;
    }
    .fupi-c{
        display:none;
    }
    .open, .dev, .seo, .facebook{
        margin:0 1rem;
    }
    
}

 @media(min-width:920px)
 {
     body{
         height:100vh;
         font-size:0.4rem;
         line-height: 1.8;
     }
    .icon{
  height:2rem;
  width:2.3rem;
  margin: 0 0.2rem;
}
header{
    display:flex;
    align-items:center;
    justify-content: space-between;
    height:15vh;
    
    
}
.wrapper{
    height:70vh;
    display: grid;
    grid-template-columns: 0.3fr 4fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    " pass content more ";
     }
     #about{
         grid-area: "content";
     }
     #pass{
         grid-area: "pass";
     }
     #who{
         min-height:75vh;
         margin:0 6rem;
     }
     #more{
         grid-area: "more";
         margin-top:30%;
         margin-left:3rem;
         height:8rem;
         font-size:1.2rem;
     }
     .who-we-are>h2{
         font-size:1rem;
     }
     #me{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center; 
     }
     #founder{
         grid-area:"content";
         display: grid;
         grid-template-columns: 1fr 2fr;
         grid-template-rows: auto;
     }
     #you{
         grid-area:"content";
         margin:0;
     }
     #kamau{
         text-align: center;
         margin:0 1rem;
         font-size:1.2rem;
     }
     #home, #fam{
         margin:0;
     }
     
     #photo{
         height:30rem;
         width:auto;
     }
.identity{
    display:flex;
    margin-left: 2rem;
}
#unique{
    font-size:1.5rem;
    padding-top: 2rem;
}
nav ul li a{
    padding:0.4rem;
    text-transform:uppercase;
    border-radius:0.4rem;
    margin:0 0.3rem;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}
#second-menu{
    margin:0;
    padding-left:2rem;
    padding-top:0.2rem;
    z-index: 2;
}
#space{
    margin-left: 0.3rem;
}
#spacer{
    margin:0;
}
#second-menu a:hover{
    color:black;
    background:white;
}
nav ul li a:hover{
    color:red;
    background:white;
    border:1px solid black;
    text-decoration:underline;
    box-shadow: 0 0 1rem blue;
}
#introduction{
    font-size:1.7rem;
}
button{
    font-size:1.5rem;
    padding:0.6rem;
    font-weight:bold;
    background:cyan;
    border:none;
    outline:none;
}
button:hover{
    border: 2px solid black;
    color:black;
    background:white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.social-media{
    margin-left:1rem;
    margin-bottom: 2rem;

}
.social-media a{
    font-size:1.5;
    padding:0.3rem;
    
}
.connect{
    margin: 0 2rem;
    text-align: center;
}
.copyright{
    font-size:1.3rem;
    margin-right:1rem;
}
.first{
    font-size:1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mada{
    font-size:1.4rem;
}
#content, .ku, .shorts, .seo, .dev, .facebook, .open{
    font-size:2rem;
}
.shorts, .seo, .facebook, .dev, .open{
    word-spacing: 0.2rem;
    line-height:2;
}
.para{
    color:#00f;
    line-height:2;
    word-spacing:0.4rem;
}
.big{
    height:16rem;
    width:auto;
    margin-right:1.5rem;

}
.medium{
    float:left;
    height:30rem;
    width:auto;
    margin-right: 1.5rem;
}
.top{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#content, .ku, .shorts, .para, .first, .open, .dev, .seo, .facebook{
    font-size: 1.3rem;
}
.mwangi a, .blog{
    font-size:0.8rem;
}
#me{
    margin-right:1rem;
    border:none;
}
fieldset, legend{
    font-size:1.2rem;
}
.fupi{
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: auto;
}
.fupi-b{
    
column-span: 1/2;
}
#shorts{
   column-span: 2/3; 
}
.fupi-c{
   column-span: 3/4; 
   display: flex;
   flex-direction: column;
   font-size:1.5rem;
   padding:2rem;
  
   
}
#fupi-c{
border-left: 0.6rem solid #000;
position:sticky;
top:0;
padding-left:1rem;
}
.last{
    height:14rem;
    width:auto;
    float:left;
}
h5{
    font-size:1rem;
}
#numbers{
    grid-gap:0.3rem;
    margin:0;
}
#us{
         font-size:1.5rem;
     }
     footer{
    height:15vh;
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    align-items:center;
}
 }
 